body {
  min-height: 100vh;
  background: #D9EAFD;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  padding:0 2rem 1rem 2rem;
  margin: 35px auto;
  max-width: 80%;
  width: 100%;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Layer 1: Contact Us Banner */
.logo1 {
  font-family: 'Playfair Display';
  font-size: 2.5rem;
  font-weight: bold;
  color: #9AA6B2;
  letter-spacing: 1px;
  margin-bottom: 1.8rem;
}

.logo1 img{
  height:120px;
  vertical-align: middle;
}

.contact-hero {
  text-align: left;
}

.contact-hero h2 {
  font-family: 'League Spartan';
  font-size: 1.9rem;
  font-weight: bold;
  padding-left: 65px;
  margin-bottom: 0.5rem;
  color: #BCCCDC;
}

.contact-hero p {
  font-family: 'League Spartan';
  font-size: 13px;
  padding-left: 65px;
  color: #9AA6B2;
}

/* Layer 2: Contact Form */
.contact-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 20px;
  gap: 30px;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 15px;
}

.contact-form .row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-form .row input {
    flex: 1;
    min-width: 180px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  background: #F8FAFC;
}

form button {
  padding: 10px;
  background: #9AA6B2;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.newsletter {
  background: #9AA6B2;
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 35%;
}

.newsletter h3 {
  font-family: 'League Spartan';
  letter-spacing: 1px;

}

.newsletter p {
  font-family: 'League Spartan';
  color: white;
  font-size: 13px;
}

.newsletter input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  background: #F8FAFC;
  margin: 10px 0;
}

.newsletter button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #BCCCDC;
  color: #9AA6B2;

}

/* Mobile View */
@media (max-width: 900px) {
  .contact-hero h2,
  .contact-hero p {
    text-align: center;
    padding-right: 65px;
  }

  .contact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .contact-form form,
  .contact-form .newsletter {
    width: 100%;
  }

  .contact-form form input,
  .contact-form form textarea,
  .contact-form form button {
    width: 100%;
    box-sizing: border-box;
  }
}